<link href="~/css/Subscription.css" rel="stylesheet" />

<div class="container-icons">
    <a asp-controller="Searchs" asp-action="Index">
        <div class="row-icon icon1">
            <h5>Buscar</h5>
            <label class="bi bi-search label1"></label>
        </div>
    </a>
    <a href="#victorModal" role="button" data-bs-toggle="modal">
        <div class="row-icon icon2">
            <h5>P.Q.R.S.</h5>
            <label class="bi bi-question-square-fill label2"></label>
        </div>
    </a>

    <a asp-controller="Subscribers" asp-action="Index">
        <div class="row-icon icon3">
            <h5>Subscribirse</h5>
            <label class="bi bi-person-circle label3"></label>
        </div>
    </a>

    <a href="https://www.arauca-arauca.gov.co/Paginas/default.aspx" target="_blank">
            <div class="row-icon icon4">
                <h5>Web<span style="color:#3366CC">_</span>Alcaldía</h5>
                <img src="/Image/LogoMpio.svg" alt="Bootstrap" width="32" height="32">
            </div>
        </a>

    <h2 class="bi bi-plus-circle-fill"></h2>
</div>

<partial name="_MyModalPqrs" />