
@{
    ViewData["Title"] = "Confirmación de subscripción";
}

<h2>@ViewData["Title"]</h2>

@{
    <div class="alert alert-success alert-dismissible" role="alert">
        Por favor revise su correo electrónico para confirmar la subscripción.
    </div>
}

